art==6.1
colorama==0.4.6
langchain==0.1.11
langchain_community==0.0.27
msal==1.25.0
openai==1.13.3
Pillow==10.3.0
pywin32==306
pywinauto==0.6.8
PyYAML==6.0.1
Requests==2.32.0
faiss-cpu==1.8.0
lxml==5.1.0
psutil==5.9.8
beautifulsoup4==4.12.3
sentence-transformers==2.5.1
##For Qwen
#dashscope==1.15.0
##For removing stopwords
#nltk==3.8.1